body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#main-container {
    display: flex;
    height: 512px;
    position: relative;
    bottom:0;
    left:0;
    right:0;
    top:0;
    transform:skew(-5deg);
}

.text-container,
.image-container {
  bottom:0;
  overflow:hidden;
  position:absolute;
  top:0;
}

#text-container {
    background-image: url("/red ferrari left.jpeg");
    bottom:-5%;
    left:-5%;
    right:-5%;
    top:-5%;
    transform:skew(5deg);
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    left:-5%;  
    right:50%;
    background-position:center center;
    background-size:cover;
}

.divider {
    background-color:#000;
    border-left:solid 10px #000;
    border-right:solid 10px #000;
    bottom:-5%;
    left:48%;
    position:absolute;
    right:48%;
    top:-5%;
    z-index:1;
  }

#text-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#text-container li {
    margin: 10px 0;
}

#text-container li:before {
    content: "✓";
    color: green;
    margin-right: 10px;
}

#image-container {
    width: 50%;
    position: relative;
    
}

.carousel-content {
    position: relative;
    height: 100%; /* Adjusted for thinner divider */
    
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    top: 0; right: 0; bottom: 0; left: 0;
    left:50%;
    right:-5%;
    bottom:-5%;
    left:-5%;
    right:-5%;
    top:-5%;
    transform:skew(5deg);
    background-position:center center;
    background-size:cover;
}

.carousel-image.active {
    display: block;
}
/*creates the shading on the images*/ 
.carousel-content::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1; /* Overlay above the images but below the text */
    transform:skew(5deg);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
    font-family:Verdana;
	font-size:17px;
    display: flex; /* Continue using flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children */
    width: 100%; /* Full width */
}

.learn-more {
	background-color:transparent;
	border-radius:25px;
	border:3px solid #e3aa24;
	display:inline-block;
	cursor:pointer;
	color:#e3aa24;
	font-family:Verdana;
	font-size:17px;
	padding:18px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #e3aa24;
    z-index: 2;
    margin-top: 20px;
}
.learn-more:hover {
	background-color:#e3aa24;
    color: black;
    font-weight: bold;
}
.learn-more:active {
	position:relative;
	top:1px;
}


.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 2;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}

/* Styling for the bullet points */
.carousel-bullets {
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Center the bullet list */
    text-align: center; /* Align text inside list items */
    display: inline-block; /* Make the list an inline element */
    width: auto; /* Let it size according to its content */
}

.carousel-bullets li {
    color: white;
    margin: 5px 0;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items to the start of the flex container */
}

.carousel-bullets li:before {
    content: "✓ ";
    color: #03c03c;
    margin-right: 5px;
    font-weight: bold;
}

.text-wrapper {
    width: 500px; /* Adjust the width */
    margin: 0 auto; /* Center the container */
    text-align: center; /* Align text to the left */
}

.overlay-text h2 {
    color: #e3aa24; /* Set the color of the titles */
    /* Add any other styling for the title as needed */
    font-size: 50px;
}